<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.clinic.dao.ClinicDao">

	<select id="get" resultType="com.ht.clinic.domain.ClinicDO">
		select `clinic_id`,`clinic_name`,`clinic_index`,`clinic_address`,`status`,`clinic_tel`,`clinic_head`,`clinic_head_mobile`,`clinic_contact`,`clinic_contact_mobile`,`clinic_parent_id`,`energy_money`,`super_admin_id`,`modify_user_id`,`modify_time`,`create_user_id`,`create_time`,`note` from b_clinic where clinic_id = #{value}
	</select>

	<select id="list" resultType="com.ht.clinic.domain.ClinicDO">
		select `clinic_id`,`clinic_name`,`clinic_index`,`clinic_address`,`status`,`clinic_tel`,`clinic_head`,`clinic_head_mobile`,`clinic_contact`,`clinic_contact_mobile`,`clinic_parent_id`,`energy_money`,`super_admin_id`,`modify_user_id`,`modify_time`,`create_user_id`,`create_time`,`note` from b_clinic
        <where>  
		  		  <if test="clinicId != null and clinicId != ''"> and clinic_id = #{clinicId} </if>
		  		  <if test="clinicName != null and clinicName != ''"> and clinic_name = #{clinicName} </if>
				  <if test="clinicIndex != null and clinicIndex != ''"> and clinic_index = #{clinicIndex} </if>
		  		  <if test="clinicAddress != null and clinicAddress != ''"> and clinic_address = #{clinicAddress} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="clinicTel != null and clinicTel != ''"> and clinic_tel = #{clinicTel} </if>
		  		  <if test="clinicHead != null and clinicHead != ''"> and clinic_head = #{clinicHead} </if>
		  		  <if test="clinicHeadMobile != null and clinicHeadMobile != ''"> and clinic_head_mobile = #{clinicHeadMobile} </if>
		  		  <if test="clinicContact != null and clinicContact != ''"> and clinic_contact = #{clinicContact} </if>
		  		  <if test="clinicContactMobile != null and clinicContactMobile != ''"> and clinic_contact_mobile = #{clinicContactMobile} </if>
		  		  <if test="clinicParentId != null and clinicParentId != ''"> and clinic_parent_id = #{clinicParentId} </if>
		  		  <if test="energyMoney != null and energyMoney != ''"> and energy_money = #{energyMoney} </if>
		  		  <if test="superAdminId != null and superAdminId != ''"> and super_admin_id = #{superAdminId} </if>
		  		  <if test="modifyUserId != null and modifyUserId != ''"> and modify_user_id = #{modifyUserId} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="note != null and note != ''"> and note = #{note} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by create_time 
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from b_clinic
		 <where>  
		  		  <if test="clinicId != null and clinicId != ''"> and clinic_id = #{clinicId} </if>
		  		  <if test="clinicName != null and clinicName != ''"> and clinic_name = #{clinicName} </if>
				  <if test="clinicIndex != null and clinicIndex != ''"> and clinic_index = #{clinicIndex} </if>
		  		  <if test="clinicAddress != null and clinicAddress != ''"> and clinic_address = #{clinicAddress} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="clinicTel != null and clinicTel != ''"> and clinic_tel = #{clinicTel} </if>
		  		  <if test="clinicHead != null and clinicHead != ''"> and clinic_head = #{clinicHead} </if>
		  		  <if test="clinicHeadMobile != null and clinicHeadMobile != ''"> and clinic_head_mobile = #{clinicHeadMobile} </if>
		  		  <if test="clinicContact != null and clinicContact != ''"> and clinic_contact = #{clinicContact} </if>
		  		  <if test="clinicContactMobile != null and clinicContactMobile != ''"> and clinic_contact_mobile = #{clinicContactMobile} </if>
		  		  <if test="clinicParentId != null and clinicParentId != ''"> and clinic_parent_id = #{clinicParentId} </if>
		  		  <if test="energyMoney != null and energyMoney != ''"> and energy_money = #{energyMoney} </if>
		  		  <if test="superAdminId != null and superAdminId != ''"> and super_admin_id = #{superAdminId} </if>
		  		  <if test="modifyUserId != null and modifyUserId != ''"> and modify_user_id = #{modifyUserId} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="note != null and note != ''"> and note = #{note} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ht.clinic.domain.ClinicDO">
		insert into b_clinic
		(
			`clinic_id`, 
			`clinic_name`, 
			`clinic_index`,
			`clinic_address`, 
			`status`, 
			`clinic_tel`, 
			`clinic_head`, 
			`clinic_head_mobile`, 
			`clinic_contact`, 
			`clinic_contact_mobile`, 
			`clinic_parent_id`, 
			`energy_money`, 
			`super_admin_id`, 
			`modify_user_id`, 
			`modify_time`, 
			`create_user_id`, 
			`create_time`, 
			`note`
		)
		values
		(
			#{clinicId}, 
			#{clinicName}, 
			#{clinicIndex}, 
			#{clinicAddress}, 
			#{status}, 
			#{clinicTel}, 
			#{clinicHead}, 
			#{clinicHeadMobile}, 
			#{clinicContact}, 
			#{clinicContactMobile}, 
			#{clinicParentId}, 
			#{energyMoney}, 
			#{superAdminId}, 
			#{modifyUserId}, 
			#{modifyTime}, 
			#{createUserId}, 
			#{createTime}, 
			#{note}
		)
	</insert>
	 
	<update id="update" parameterType="com.ht.clinic.domain.ClinicDO">
		update b_clinic 
		<set>
			<if test="clinicName != null">`clinic_name` = #{clinicName}, </if>
			<if test="clinicIndex != null and clinicIndex != ''">clinic_index = #{clinicIndex},</if>
			<if test="clinicAddress != null">`clinic_address` = #{clinicAddress}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="clinicTel != null">`clinic_tel` = #{clinicTel}, </if>
			<if test="clinicHead != null">`clinic_head` = #{clinicHead}, </if>
			<if test="clinicHeadMobile != null">`clinic_head_mobile` = #{clinicHeadMobile}, </if>
			<if test="clinicContact != null">`clinic_contact` = #{clinicContact}, </if>
			<if test="clinicContactMobile != null">`clinic_contact_mobile` = #{clinicContactMobile}, </if>
			<if test="clinicParentId != null">`clinic_parent_id` = #{clinicParentId}, </if>
			<if test="energyMoney != null">`energy_money` = #{energyMoney}, </if>
			<if test="superAdminId != null">`super_admin_id` = #{superAdminId}, </if>
			<if test="modifyUserId != null">`modify_user_id` = #{modifyUserId}, </if>
			<if test="modifyTime != null">`modify_time` = #{modifyTime}, </if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="note != null">`note` = #{note}</if>
		</set>
		where clinic_id = #{clinicId}
	</update>
	
	<delete id="remove">
		delete from b_clinic where clinic_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from b_clinic where clinic_id in 
		<foreach item="clinicId" collection="array" open="(" separator="," close=")">
			#{clinicId}
		</foreach>
	</delete>

</mapper>