<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.clinic.dao.DrugTypeDao">

	<select id="get" resultType="com.ht.clinic.domain.DrugTypeDO">
		select `id`,`drug_type_name` from t_drug_type where id = #{value}
	</select>

	<select id="list" resultType="com.ht.clinic.domain.DrugTypeDO">
		select `id`,`drug_type_name` from t_drug_type
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="drugTypeName != null and drugTypeName != ''"> and drug_type_name = #{drugTypeName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_drug_type
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="drugTypeName != null and drugTypeName != ''"> and drug_type_name = #{drugTypeName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ht.clinic.domain.DrugTypeDO">
		insert into t_drug_type
		(
			`id`, 
			`drug_type_name`
		)
		values
		(
			#{id}, 
			#{drugTypeName}
		)
	</insert>
	 
	<update id="update" parameterType="com.ht.clinic.domain.DrugTypeDO">
		update t_drug_type 
		<set>
			<if test="drugTypeName != null">`drug_type_name` = #{drugTypeName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_drug_type where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_drug_type where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>