<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.clinic.dao.SymptomsDefineDao">

	<select id="get" resultType="com.ht.clinic.domain.SymptomsDefineDO">
		select `symptoms_id`,`symptoms_index`,`symptoms`,`symptoms_describe`,`body_parts_id`,`often_people`,`department_id`,`note` from t_symptoms_define where symptoms_id = #{value}
	</select>

	<select id="list" resultType="com.ht.clinic.domain.SymptomsDefineDO">
		select `symptoms_id`,`symptoms_index`,`symptoms`,`symptoms_describe`,`body_parts_id`,`often_people`,`department_id`,`note` from t_symptoms_define
        <where>  
		  		  <if test="symptomsId != null and symptomsId != ''"> and symptoms_id = #{symptomsId} </if>
		  		  <if test="symptomsIndex != null and symptomsIndex != ''"> and symptoms_index like '%${symptomsIndex}%' </if>
		  		  <if test="symptoms != null and symptoms != ''"> and symptoms like '%${symptoms}%' </if>
		  		  <if test="symptomsDescribe != null and symptomsDescribe != ''"> and symptoms_describe = #{symptomsDescribe} </if>
		  		  <if test="bodyPartsId != null and bodyPartsId != ''"> and body_parts_id = #{bodyPartsId} </if>
		  		  <if test="oftenPeople != null and oftenPeople != ''"> and often_people = #{oftenPeople} </if>
		  		  <if test="departmentId != null and departmentId != ''"> and department_id = #{departmentId} </if>
		  		  <if test="note != null and note != ''"> and note = #{note} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by symptoms_id 
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_symptoms_define
		 <where>  
		  		  <if test="symptomsId != null and symptomsId != ''"> and symptoms_id = #{symptomsId} </if>
		  		  <if test="symptomsIndex != null and symptomsIndex != ''"> and symptoms_index like '%${symptomsIndex}%' </if>
		  		  <if test="symptoms != null and symptoms != ''"> and symptoms like '%${symptoms}%' </if>
		  		  <if test="symptomsDescribe != null and symptomsDescribe != ''"> and symptoms_describe = #{symptomsDescribe} </if>
		  		  <if test="bodyPartsId != null and bodyPartsId != ''"> and body_parts_id = #{bodyPartsId} </if>
		  		  <if test="oftenPeople != null and oftenPeople != ''"> and often_people = #{oftenPeople} </if>
		  		  <if test="departmentId != null and departmentId != ''"> and department_id = #{departmentId} </if>
		  		  <if test="note != null and note != ''"> and note = #{note} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ht.clinic.domain.SymptomsDefineDO">
		insert into t_symptoms_define
		(
			`symptoms_id`, 
			`symptoms_index`, 
			`symptoms`, 
			`symptoms_describe`, 
			`body_parts_id`, 
			`often_people`, 
			`department_id`, 
			`note`
		)
		values
		(
			#{symptomsId}, 
			#{symptomsIndex}, 
			#{symptoms}, 
			#{symptomsDescribe}, 
			#{bodyPartsId}, 
			#{oftenPeople}, 
			#{departmentId}, 
			#{note}
		)
	</insert>
	 
	<update id="update" parameterType="com.ht.clinic.domain.SymptomsDefineDO">
		update t_symptoms_define 
		<set>
			<if test="symptomsIndex != null">`symptoms_index` = #{symptomsIndex}, </if>
			<if test="symptoms != null">`symptoms` = #{symptoms}, </if>
			<if test="symptomsDescribe != null">`symptoms_describe` = #{symptomsDescribe}, </if>
			<if test="bodyPartsId != null">`body_parts_id` = #{bodyPartsId}, </if>
			<if test="oftenPeople != null">`often_people` = #{oftenPeople}, </if>
			<if test="departmentId != null">`department_id` = #{departmentId}, </if>
			<if test="note != null">`note` = #{note}</if>
		</set>
		where symptoms_id = #{symptomsId}
	</update>
	
	<delete id="remove">
		delete from t_symptoms_define where symptoms_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_symptoms_define where symptoms_id in 
		<foreach item="symptomsId" collection="array" open="(" separator="," close=")">
			#{symptomsId}
		</foreach>
	</delete>

</mapper>