<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.activiti.dao.RequestDao">

	<select id="get" resultType="com.ht.activiti.domain.RequestDO">
		select `id`,`request_name`,`request_type`,`request_desc`,`request_pic`,`request_src`,`create_user_id`,`create_user_name`,`create_time`,`expect_time`,`owner_id`,`request_progress`,`request_status`,`update_user_id`,`update_time` from sys_request where id = #{value}
	</select>

	<select id="list" resultType="com.ht.activiti.domain.RequestDO">
		SELECT sys_request.*, sys_user.username FROM sys_request,sys_user where sys_request.owner_id=sys_user.user_id
          
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="requestName != null and requestName != ''"> and sys_request.request_name = #{requestName} </if>
		  		  <if test="requestType != null and requestType != ''"> and sys_request.request_type = #{requestType} </if>
		  		  <if test="requestDesc != null and requestDesc != ''"> and sys_request.request_desc = #{requestDesc} </if>
		  		  <if test="requestPic != null and requestPic != ''"> and sys_request.request_pic = #{requestPic} </if>
		  		  <if test="requestSrc != null and requestSrc != ''"> and sys_request.request_src = #{requestSrc} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and sys_request.create_user_id = #{createUserId} </if>
		  		  <if test="createUserName != null and createUserName != ''"> and sys_request.create_user_name = #{createUserName} </if>
		  		  <if test="createTime != null and createTime != ''"> and sys_request.create_time = #{createTime} </if>
		  		  <if test="expectTime != null and expectTime != ''"> and sys_request.expect_time = #{expectTime} </if>
		  		  <if test="ownerId != null and ownerId != ''"> and sys_request.owner_id = #{ownerId} </if>
		  		  <if test="requestProgress != null and requestProgress != ''"> and sys_request.request_progress = #{requestProgress} </if>
		  		  <if test="requestStatus != null and requestStatus != ''"> and sys_request.request_status = #{requestStatus} </if>
		  		  <if test="updateUserId != null and newc != ''"> and sys_request.update_user_id = #{updateUserId} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and sys_request.update_time = #{updateTime} </if>
		  		
        <choose>
            
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="lists" resultType="com.ht.activiti.domain.RequestDO">
		SELECT
		sys_request.id,
		sys_request.request_name,
		sys_request.request_type,
	    CASE
			WHEN length( trim( sys_request.request_desc ) ) > 60 THEN
			CONCAT( substr( trim( sys_request.request_desc ), 1, 30 ), '...' ) ELSE sys_request.request_desc 
		END as request_desc,
		sys_request.request_pic,
		sys_request.request_src,
		sys_request.create_user_id,
		sys_request.create_user_name,
		sys_request.create_time,
		sys_request.expect_time,
		sys_request.owner_id,
		sys_request.request_progress,
		sys_request.request_status,
		sys_request.update_user_id,
		sys_request.update_time,
		sys_user.username 
		FROM sys_request,sys_user where sys_request.owner_id=sys_user.user_id
		  	 <if test="id != null and id != ''"> and id = #{id} </if>
		  	 <if test="requestName != null and requestName != ''"> and sys_request.request_name = #{requestName} </if>
			 <if test="requestType != null and requestType != ''"> and sys_request.request_type = #{requestType} </if>
		  	 <if test="requestDesc != null and requestDesc != ''"> and sys_request.request_desc = #{requestDesc} </if>
		  	 <if test="requestPic != null and requestPic != ''"> and sys_request.request_pic = #{requestPic} </if>
		  	 <if test="requestSrc != null and requestSrc != ''"> and sys_request.request_src = #{requestSrc} </if>
		  	 <if test="createUserId != null and createUserId != ''"> and sys_request.create_user_id = #{createUserId} </if>
		  	 <if test="createUserName != null and createUserName != ''"> and sys_request.create_user_name = #{createUserName} </if>
		  	 <if test="createTime != null and createTime != ''"> and sys_request.create_time = #{createTime} </if>
		  	 <if test="expectTime != null and expectTime != ''"> and sys_request.expect_time = #{expectTime} </if>
		  	 <if test="ownerId != null and ownerId != ''"> and sys_request.owner_id = #{ownerId} </if>
		  	 <if test="requestProgress != null and requestProgress != ''"> and sys_request.request_progress = #{requestProgress} </if>
		  	 <if test="requestStatus != null and requestStatus != ''"> and sys_request.request_status = #{requestStatus} </if>
		  	 <if test="updateUserId != null and newc != ''"> and sys_request.update_user_id = #{updateUserId} </if>
		  	 <if test="updateTime != null and updateTime != ''"> and sys_request.update_time = #{updateTime} </if>		
        <choose>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_request
		<where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="requestName != null and requestName != ''"> and request_name = #{requestName} </if>
		  		  <if test="requestType != null and requestType != ''"> and request_type = #{requestType} </if>
		  		  <if test="requestDesc != null and requestDesc != ''"> and request_desc = #{requestDesc} </if>
		  		  <if test="requestPic != null and requestPic != ''"> and request_pic = #{requestPic} </if>
		  		  <if test="requestSrc != null and requestSrc != ''"> and request_src = #{requestSrc} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createUserName != null and createUserName != ''"> and create_user_name = #{createUserName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="expectTime != null and expectTime != ''"> and expect_time = #{expectTime} </if>
		  		  <if test="ownerId != null and ownerId != ''"> and owner_id = #{ownerId} </if>
		  		  <if test="requestProgress != null and requestProgress != ''"> and request_progress = #{requestProgress} </if>
		  		  <if test="requestStatus != null and requestStatus != ''"> and request_status = #{requestStatus} </if>
		  		  <if test="updateUserId != null and newc != ''"> and update_user_id = #{updateUserId} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>

	<select id="getRequestId" resultType="com.ht.activiti.domain.RequestDO">
		select * from sys_request ORDER BY id desc LIMIT 1;
	</select>
	 
	<insert id="save" parameterType="com.ht.activiti.domain.RequestDO">
		insert into sys_request
		(
			`id`,
			`request_name`,
			`request_type`,
			`request_desc`,
			`request_pic`,
			`request_src`,
			`create_user_id`,
			`create_user_name`,
			`create_time`,
			`expect_time`,
			`owner_id`,
			`request_progress`,
			`request_status`,
			`update_user_id`,
			`update_time`
		)
		values
		(
			#{id}, 
			#{requestName}, 
			#{requestType}, 
			#{requestDesc}, 
			#{requestPic}, 
			#{requestSrc}, 
			#{createUserId}, 
			#{createUserName}, 
			#{createTime}, 
			#{expectTime}, 
			#{ownerId}, 
			#{requestProgress}, 
			#{requestStatus}, 
			#{updateUserId}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.ht.activiti.domain.RequestDO">
		update sys_request 
		<set>
		  		  <if test="requestName != null and requestName != ''">  request_name = #{requestName}, </if>
		  		  <if test="requestType != null and requestType != ''">  request_type = #{requestType}, </if>
		  		  <if test="requestDesc != null and requestDesc != ''">  request_desc = #{requestDesc} ,</if>
		  		  <if test="requestPic != null and requestPic != ''">  request_pic = #{requestPic}, </if>
		  		  <if test="requestSrc != null and requestSrc != ''">  request_src = #{requestSrc}, </if>
		  		  <if test="createUserId != null and createUserId != ''">  create_user_id = #{createUserId}, </if>
		  		  <if test="createUserName != null and createUserName != ''">  create_user_name = #{createUserName}, </if>
		  		  <if test="createTime != null ">  create_time = #{createTime}, </if>
		  		  <if test="expectTime != null ">  expect_time = #{expectTime}, </if>
		  		  <if test="ownerId != null and ownerId != ''"> owner_id = #{ownerId}, </if>
		  		  <if test="requestProgress != null and requestProgress != ''">  request_progress = #{requestProgress}, </if>
		  		  <if test="requestStatus != null and requestStatus != ''">  request_status = #{requestStatus}, </if>
		  		  <if test="updateUserId != null and updateUserId != ''">  update_user_id = #{updateUserId}, </if>
		  		  <if test="updateTime != null">  update_time = #{updateTime} </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_request where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_request where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>