<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解健康链数据</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;动态全景健康数据平台和引擎</h3>
        <ul>
            <li>数据类型无限扩展</li>
            <li>数据属性精确到细胞级别</li>
            <li>多层次数据区分，分布式数据存储</li>
            <li>基于区块链的数据加密、授权、追溯、防篡改</li>
            <li>标准化数据存取接口，即接即用</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;B端-健康管理软件（SaaS）</h3>
        <ul>
            <li>所有服务皆数据化-通过数据引擎标准接口实现</li>
            <li>最大限度可配置-包括数据、流程、规则、权限</li>
            <li>以个人为中心、连接一切外部资源</li>
            <li>共享健康赋能和协同关怀计划</li>
            <li>基于用户数和使用度的付费模式</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;C端APP-个人健康数据管家</h3>
        <ul>
            <li>个人健康数据录入、体检报告上传</li>
            <li>健康数据同步-可穿戴设备、运动APP</li>
            <li>医院和诊疗中心智能入口，电子数据授权共享</li>
            <li>基于大数据和个性化的健康评估和健康方案</li>
            <li>尊享健康赋能计划</li>
        </ul>

       <button class="btn" onclick="openPage('http://www.healthchaindata.com','healthchaindata.com')">访问健康链数据官网</button>
    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>