<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<table id="exampleTables" data-mobile-responsive="true">
							
						</table>
						<table id="exampleTable" data-mobile-responsive="true">
							<p style="color:salmon">操作记录：</p>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/act/request/details.js">
	</script>
</body>

</html>