<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">

						<form class="form-horizontal m-t" id="requestForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">请求名称：</label>
								<div class="col-sm-8">
									<input id="requestName" name="requestName" class="form-control" type="text" th:value="${request.requestName}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">请求描述：</label>
								<div class="col-sm-8">
									<textarea style="width:300px;height:100px;" type="text" th:text="${request.requestDesc}"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">相关截图：</label>
								<div class="col-sm-8">
									<input id="requestPic" name="requestPic" class="form-control" type="text" th:value="${request.requestPic}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">请求来源：</label>
								<div class="col-sm-8">
									<input id="requestSrc" name="requestSrc" class="form-control" type="text" th:value="${request.requestSrc}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">责任人：</label>
								<div class="col-sm-8">
									<input id="username" name="username" class="form-control" type="text" th:value="${request.username}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">目前进度：</label>
								<div class="col-sm-8">
									<input id="requestProgress" name="requestProgress" class="form-control" type="text" th:value="${request.requestProgress}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">目前状态：</label>
								<div class="col-sm-8">
									<input id="requestStatus" name="requestStatus" class="form-control" type="text" th:value="${request.requestStatus}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTimes" name="createTimes" class="form-control" type="text" th:value="${request.createTimes}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">预定期限：</label>
								<div class="col-sm-8">
									<input id="expectTimes" name="expectTimes" class="form-control" type="text" th:value="${request.expectTimes}" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">最后更新：</label>
								<div class="col-sm-8">
									<input id="updateTimes" name="updateTimes" class="form-control" type="text" th:value="${request.updateTimes}" readonly>
								</div>
							</div>
						</form>

						<!-- <table id="exampleTables" data-mobile-responsive="true"> -->

						</table>
						<table id="exampleTable" data-mobile-responsive="true">
							<p style="color:salmon">操作记录：</p>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/act/request/details.js">
	</script>
</body>

</html>