<!DOCTYPE html>
<!-- <html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"> -->
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
.radionomargin{
  margin:0 15px 0 23px !important;
}
.nopadding {
    padding:0 !important;
}
</style>
<body class="gray-bg">
    <div class="wrapper wrapper-content ">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="fixed-table-toolbar">
                        <div class="columns pull-left  col-md-12 col-sm-12 nopadding">
                          <div class="columns col-md-4  col-sm-2 nopadding">
                            <button shiro:hasPermission="sys:user:add" type="button" class="btn  btn-primary" onclick="add()">
                                <i class="fa fa-plus hidden" aria-hidden="true"></i>添加
                            </button>
                          </div>
                            <!-- <button shiro:hasPermission="sys:user:batchRemove" type="button"
                                class="btn  btn-danger" onclick="batchRemove()">
                                <i class="fa fa-trash hidden" aria-hidden="true"></i>删除
                            </button> -->
                               
	                            <div class="columns pull-right ">
	                                <button class="btn btn-success" onclick="reLoad()">查询</button>
	                            </div>
	                             <div class="columns pull-right ">
	                                <label class="radio-inline radionomargin nopadding"> <input type="radio"
                                        name="type" value="0" /> 全部
                                    </label> 
                                    <label class="radio-inline radionomargin nopadding"> <input type="radio"
                                        name="type" value="1" /> 本人
                                    </label>
	                            </div>
                             <div class="pull-right nopadding">
	                            <div class="columns col-md-4 col-sm-4 col-xs-4 nopadding">
	                                <select data-placeholder="--选择状态--" name="status" id="status" class="form-control chosen-select" tabindex="2" required>
	                                    <option value="">--选择状态--</option>
	                                </select>
	                            </div>
	                            <div class="columns col-md-4 col-sm-4 col-xs-4 nopadding">
	                                <select data-placeholder="--选择类别--" name="type" id="type" class="form-control chosen-select" tabindex="2" required>
	                                    <option value="">--选择类别--</option>
	                                </select>
	                            </div>
	                            
	                            <div class="columns col-md-4 col-sm-4 col-xs-4 nopadding">
	                                <select data-placeholder="--选择来源--" name="source" id="source" class="form-control chosen-select" tabindex="2" required>
	                                    <option value="">--选择来源--</option>
	                                </select>
	                            </div>
	                            
                            </div>
	                        
                             <!-- <div class="columns pull-left col-md-3 nopadding">
                                <label class="col-sm-3 control-label">菜单类型：</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline"> <input type="radio"
                                        name="type" value="0" /> 目录
                                    </label> <label class="radio-inline"> <input type="radio"
                                        name="type" value="1" /> 菜单
                                    </label> <label class="radio-inline"> <input type="radio"
                                        name="type" value="2" /> 按钮
                                    </label>
                                </div>
                            </div>  -->
                            
                        </div>
                        <div class="columns pull-left">
                        </div>
                    </div>
                    <table id="exampleTable" data-mobile-responsive="true">
                    </table>
                </div>
            </div>
        </div>
        <!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
        <div>
            <script type="text/javascript">
                var s_edit_h = 'hidden';
                var s_remove_h = 'hidden';
                var s_resetPwd_h = 'hidden';
            </script>
        </div>
        <div shiro:hasPermission="act:process:edit">
            <script type="text/javascript">
                var s_edit_h = '';
            </script>
        </div>
        <div shiro:hasPermission="act:process:remove">
            <script type="text/javascript">
                var s_remove_h = '';
            </script>
        </div>
        <div shiro:hasPermission="act:process:resetPwd">
            <script type="text/javascript">
                var s_add_h = '';
            </script>
        </div>
        <div shiro:hasPermission="act:process:push">
            <script type="text/javascript">
                var s_push_h = '';
            </script>
        </div>
        <div shiro:hasPermission="act:process:activate">
            <script type="text/javascript">
                var s_activate_h = '';
            </script>
        </div>
    </div>
    <div th:include="include :: footer"></div>
    <script type="text/javascript" src="/js/appjs/act/request/request.js"></script>
</body>

</html>