<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<table id="exampleTables" data-mobile-responsive="true">
							
						</table>
						
						<form class="form-horizontal m-t" id="turnoverForm">
							
							<div class="form-group">
								<label class="col-sm-3 control-label"><p style="color:salmon">选择移交责任人：</p></label>
								<div class="col-sm-8">
									<select data-placeholder="--选择用户--" name="ownerId" id="ownerId" class="form-control chosen-select-user" 
									    required>
										<option value="">--选择用户--</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/act/request/turnover.js">
	</script>
</body>

</html>