<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.system.dao.AreasDao">

	<select id="get" resultType="com.ht.system.domain.AreasDO">
		select `id`,`areaid`,`area`,`cityid` from t_areas where id = #{value}
	</select>

	<select id="list" resultType="com.ht.system.domain.AreasDO">
		select `id`,`areaid`,`area`,`cityid` from t_areas
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="areaid != null and areaid != ''"> and areaid = #{areaid} </if>
		  		  <if test="area != null and area != ''"> and area = #{area} </if>
		  		  <if test="cityid != null and cityid != ''"> and cityid = #{cityid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_areas
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="areaid != null and areaid != ''"> and areaid = #{areaid} </if>
		  		  <if test="area != null and area != ''"> and area = #{area} </if>
		  		  <if test="cityid != null and cityid != ''"> and cityid = #{cityid} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ht.system.domain.AreasDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_areas
		(
			`areaid`, 
			`area`, 
			`cityid`
		)
		values
		(
			#{areaid}, 
			#{area}, 
			#{cityid}
		)
	</insert>
	 
	<update id="update" parameterType="com.ht.system.domain.AreasDO">
		update t_areas 
		<set>
			<if test="areaid != null">`areaid` = #{areaid}, </if>
			<if test="area != null">`area` = #{area}, </if>
			<if test="cityid != null">`cityid` = #{cityid}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_areas where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_areas where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>